.selected {
  background-color: ghostwhite;
}
.delete {
  float: right;
}

.content {
  display: inline-block;
  width: calc(100% - 2.5rem - 115px);
  min-height: 65px;

  .title {
    font-weight: bold;
    margin-right: 15px;
  }
}

.header {
  button {
    float: right;
  }
}